<html>
<head>
<title>Login</title>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-
1.2.1.min.js"></script>
</head>
<style>
.center {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 130%;
    
}
</style>
<body style="Background-color : #00bced">
<div class="center">
<br>
<h2>Invalid login details </h2>
<a href="http://localhost:3000/">Back to login page</a>
</div>
</body>

</html>