<html ng-app="myApp">
<head>
<title>Login</title>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-
1.2.1.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
	
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>
<style>
.center {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	font-size: 130%;
}
</style>
<body style="Background-color: #00bced"
	ng-controller="LoginCtrl">
	<div class="center">
		<br>
		<h2>Welcome to Twitter</h2>
		<form ng-submit="signin()" >
			<br> Username: <input type="text" name="username"
				ng-model="uname" placeholder="email"><br> <br>
			Password: <input type="password" name="password" ng-model="pword"
				placeholder="Password"> <br> <br>
			<button type="submit">Login</button>

		</form>
		<form action="/signup" method="post" class="signup">
			New User? Sign up here.
			<button type="submit">SignUp</button>
			<br> <br>
		</form>
	</div>
</body>
<script>
	var app = angular.module('myApp', []);
	app
			.controller(
					'LoginCtrl',
					function($scope,$http,$location) {
								
						
					
debugger
						$scope.signin = function() {
						debugger
							$http({
								method : 'POST',
								url : '/signin',
								data : {
									'username' : $scope.uname,
									'password' : $scope.pword
								}

							})
									.success(
											function(response) {
												if(response=="Success")
												{
													window.location.href="/home";
												}
											})
									.error(
											function(error) {
												
											});
						};

					});

</script>
</html>